USE [master]
GO
/****** Object:  Database [QuanLySanPham]    Script Date: 10/10/2024 7:43:55 PM ******/
CREATE DATABASE [QuanLySanPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySanPham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySanPham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySanPham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLySanPham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySanPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySanPham]
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 10/10/2024 7:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[Id] [int] NOT NULL,
	[CatalogCode] [nvarchar](50) NULL,
	[CatalogName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/10/2024 7:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] NOT NULL,
	[CatalogId] [int] NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Picture] [nvarchar](max) NULL,
	[UnitPrice] [float] NULL,
	[ProductName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Catalog] ([Id], [CatalogCode], [CatalogName]) VALUES (1, N'DM01', N'Điện Thoại')
INSERT [dbo].[Catalog] ([Id], [CatalogCode], [CatalogName]) VALUES (2, N'DM02', N'Máy Tính')
INSERT [dbo].[Catalog] ([Id], [CatalogCode], [CatalogName]) VALUES (3, N'DM03', N'Thời Trang')
GO
INSERT [dbo].[Product] ([Id], [CatalogId], [ProductCode], [Picture], [UnitPrice], [ProductName]) VALUES (1, 1, N'PR001', N'PRO01.png', 10000000, N'Samsung J7 Prime')
INSERT [dbo].[Product] ([Id], [CatalogId], [ProductCode], [Picture], [UnitPrice], [ProductName]) VALUES (2, 2, N'PRO02', N'PRO02.png', 30000000, N'Iphone X')
INSERT [dbo].[Product] ([Id], [CatalogId], [ProductCode], [Picture], [UnitPrice], [ProductName]) VALUES (3, 2, N'PRO03', N'PRO03.png', 12000000, N'Dell Inspiron 15')
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Catalog] FOREIGN KEY([CatalogId])
REFERENCES [dbo].[Catalog] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Catalog]
GO
USE [master]
GO
